---
layout: default
title: 标签
---

<!-- 标签页 -->
<article class="post-container">

    <!-- 变量接收页面所有标签 -->
    {% assign tags_list = site.tags %}

    <ul>
        <!-- 循环输出所有标签 -->
        {% for tag in tags_list %} 
        <!-- 为标签绑定锚点 -->
    	<li><a href="{{ site.baseurl }}{{ tag.url }}#{{ tag[0] }}-ref">{{ tag[0] }}</a></li>
        {% endfor %}
    </ul>

    <!-- 循环所有标签 -->
    {% for tag in tags_list %} 

    <!-- 输出标签并添加锚点 -->
    <h3 id="{{ tag[0] }}-ref">{{ tag[0] }}</h3>
    <ul>

        <!-- 变量接收所有标签页 -->
        {% assign pages_list = tag[1] %} 

        <!-- 遍历标签页 -->
        {% for page in pages_list %}

            <!-- 输出标题 -->
            <li><a href="{{ site.baseurl }}{{page.url}}">{{page.title}}</a></li>

        {% endfor %}
    </ul>
    
    {% endfor %}

</article>

