<section>
    <hr class="footer-wrapper">
    <div class="pager">
        {% if page.previous.url %}
        <div class="previous">
             上一篇：
            <a href="{{ page.previous.url}}" title="{{page.previous.title}}">
                <span>{{page.previous.title}}</span>
            </a>
        </div>
        {% endif %}
        {% if page.next.url %}
        <div class="next">
            下一篇： 
            <a href="{{ page.next.url}}" title="{{page.next.title}}"> 
                <span>{{page.next.title}}</span>
            </a>
        </div>
        {% endif %}
    </div>
</section>