<!doctype html>
<html>

{% include head.html %}

<body>

    <nav class="mobile-menu">
        <ul class="mobile-list">
            <li><a href="/#blog" title="博客主页">博客主页</a></li>
            <li><a href="/archive">所有文章</a></li>
            <li><a href="/tags">标签</a></li>
            <li><a href="/about">关于我</a></li>
        </ul>
    </nav>

    <!-- 侧边版块 -->
    {% include panel.html %}

    <!-- 主体版块 -->
    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{content}}
            {% include footer.html %}
        </div>
    </div>

    {% include external.html %}

</body>

</html>